<div class="d-flex justify-content-center">
    <div class="card border border-primary shadow p-5 mb-5 mt-5">
      <div class="col text-center mt-4">
        <div class="container1 p-3" routerLink="/createM" >
          <h3>Create</h3>
        </div>
        <div class="container2 p-3" routerLink="/View"  >
          <h3>
            View
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col text-center">
    <button class="btn btn-block btn-theme p-3" (click)="onLogOut()" >logout</button>
</div>

