<header>
    <div class="shadow p-5 mb-5 bgm-theme rounded text-center">
        <div class="row">
            <div class="col-2 pb-3 ">
                <h4 class="text-white " >Asquare Infotech Consultancy </h4>
            </div>
            <div class="col-9 mt-3">
                <h1 class="text-white">
                    Product Tracing Of Cows Using BlockChain
                </h1>
            </div>
            <div class="col-1">
                <img src="https://media.licdn.com/dms/image/C560BAQFUqAZLaKhghQ/company-logo_200_200/0/1600851731765?e=1692230400&v=beta&t=EvSNCAlpi9hyUqHzJZt3HWPy42unZDygD9UlZ6tlIhM" class="image ">
            </div>
        </div>
    </div>
</header>
